<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
    					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
    					http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    					http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
    					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
         
    <!-- <context:annotation-config /> --> <!-- is used to activate annotations in beans already registered in the application context -->
    <context:component-scan base-package="cl.obam.pasteleria.lapalmera"/> <!--  also scans packages to find and register beans within the application context. -->
    <mvc:annotation-driven /> <!-- declares explicit support for annotation-driven MVC controllers -->
     
</beans>